certifi
chardet
idna
requests
urllib3

tensorboard
tensorboardX
torch
numpy
scipy
scikit-learn
matplotlib
biosppy
astropy
pandas
torchaudio
torchvision
scikit-image
sklearn
skorch
ray
ray[tune]
dataclasses
